/*IMPORTANDO FONT EXTERNA*/
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*VARIAVEIS DE CORES E FONTES*/
:root{
    --font: "Montserrat", sans-serif;
    --border-color: #969696;
    --font-color: #969696;
    --color-status-fechado: #F88385;
    --color-status-aberto: #EBF9F1;

}
/*RESETANDO O COMPORTAMENTO GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
/*ESTILIZANDO OS TITULOS*/
.title-comp h1{
    margin-bottom: 20px;
    font-size: 20px;
}
/*ESTILIZANDO O FORMULARIO*/
.title-input{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.input-date{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.input-date label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.input-date input{
    width: 224px;
    height: 36.51px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    font-size: 14px;
}
/*REMOVENDO O SELETOR DE DATA*/
.input-date input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.button-date .btn{
    margin-top: 26px;
    width: 138px;
    height: 36.51px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #4753D9;
}
.button-date .btn:hover{
    background-color: #343fb8;
    box-shadow: none;
}
/*ESTLIZANDO A TABELA*/

.table-comp{
    margin-top: 6%;
    width: 80%;
    overflow-x: auto;
}
.table-comp .title-table-comp h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.table{
    font-family: var(--font);
    font-size: 14px;
}
.table th, .table td{
    padding: 18px 20px;
}
.table .status-fechado{
    color: #fff;
    background-color: var(--color-status-fechado);
    padding: 16px 8px;
    text-align: center;
    width: 5px;
    border-radius: 100px;
}
.table .status-aberto{
    color: #000; 
    background-color: var(--color-status-aberto);
    padding: 16px 8px;
    text-align: center;
    width: 5px;
    border-radius: 100px;
}