.relatorios-container {
    overflow-y: auto;
    display: flex;

    .report-view-small {
        width: 40%;
    }

    .report-view-large {
        width: 60%;
    }
}

.relatorio-download {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress;
}